*{
    background-color: #E0D4C6;
    margin: 0px;
    font-family: "Helvetica Neue";
}

/* Breakpoint for tablets (768px og mindre) */
@media (max-width: 768px){
    nav{
        padding: 10px 20px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .logo {
        width: 100px;
        padding: 10px;
        margin-left: -170px;
        margin-top: -25px;
    }

    li {
        position: relative; /* Needed for positioning the dropdown */
        margin-right: 20px;
        margin-top: 20px;
        display: none;
    }

    a {
        text-decoration: none;
        color: #1F3A20;
        font-size: 18px;
        display: block;
        font-weight: bolder;
        margin-left: 170px;
        margin-top: 30px;
    }

    /* Dropdown Menu Styles */
    .dropdown {
        display: none; /* Hidden by default */
        position: absolute;
        padding-bottom: 15px;
        list-style: none;
        top: 100%; /* Position dropdown below the parent */
        left: 100px;
    }

    .dropdown a {
        color: #1F3A20;
        font-weight: normal;
        margin-left: 70px;
    }

    /* Show Dropdown on Hover */
    li:hover .dropdown {
        display: none; /* Show the dropdown */
    }

    .bjælke1 {
        background-color: #557D56;
        height: 50px;
    }

    h1 {
        font-size: 20px;
        margin-top: 100px;
        margin-left: 20px;
        font-weight: normal;
    }

    input {
        width: 150px;
        height: 40px;
        background-color: white;
        border: none;
        border-radius: 5px;
        font-size: 12px;
    }

    .indtast {
        margin-left: 20px;
        margin-top: 100px;
        font-weight: bold;
        font-size: 20px;
    }


    .indtast2 {
        margin-left: 235px;
        margin-top: -280px;
        font-weight: bold;
    }

    .knap {
        margin-left: 120px;
        margin-top: 100px;
        margin-bottom: 150px;
    }

    footer{
        background-color: #557D56;
        margin-top: 100px;
        position: relative;
        width: 100%;
    }

    .køgelogo{
        width: 110px;
        background-color: #557D56;
        margin-left: -20px;
    }

    .line{
        background-color: #1F3A20;
        height: 2px;
        width: 105px;
        border-radius: 10px;
        margin-left: 20px;
    }

    h3{
        background-color: #557D56;
        color: #1F3A20;
        font-size: 12px;
        margin-left: 20px;
        margin-top: 5px;
    }

    h4{
        background-color: #557D56;
        font-size: 10px;
        font-weight: normal;
        margin-left: 20px;
    }



    h6{
        background-color: #557D56;
        font-size: 10px;
        font-weight: normal;
        margin-left: 20px;
    }

    .følg{
        position: absolute;
        margin-left: 310px;
        margin-top: -168px;
        font-size: 14px;
        color: #1F3A20;
    }

    .socialemedier{
        width: 100px;
        background-color: #557D56;
        margin-bottom: -6px;
        padding-top: 20px;
    }

    .personligeoplysninger{
        background-color: #557D56;
        position: absolute;
        margin-left: 300px;
        text-decoration: underline;
        margin-top: -20px;
        color: #1F3A20;
        font-size: 6px;
        display: none;
    }

    .betingelser{
        background-color: #557D56;
        position: absolute;
        margin-left: 200px;
        text-decoration: underline;
        margin-top: -20px;
        color: #1F3A20;
        font-size: 7px;
        display: none;
    }

    .politik{
        background-color: #557D56;
        position: absolute;
        margin-left: 825px;
        text-decoration: underline;
        margin-top: -20px;
        color: #1F3A20;
        font-size: 12px;
        display: none;
    }

    .cookies{
        background-color: #557D56;
        position: absolute;
        margin-left: 650px;
        text-decoration: underline;
        margin-top: -20px;
        color: #1F3A20;
        font-size: 12px;
        display: none;
    }
}



@media (min-width: 769px){
    nav {
        padding: 10px 20px;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .logo{
        width: 130px;
        padding: 10px;
        margin-left: -110px;
        margin-top: -50px;
    }
    li {
        position: relative; /* Needed for positioning the dropdown */
        margin-right: 20px;
        margin-top: 20px;
    }
    a {
        text-decoration: none;
        color: #1F3A20;
        font-size: 15px;
        display: block;
        font-weight: bolder;
        margin-left: 100px;
        margin-top: 50px;
    }

    /* Dropdown Menu Styles */
    .dropdown {
        display: none; /* Hidden by default */
        position: absolute;
        padding-bottom: 15px;
        list-style: none;
        top: 100%; /* Position dropdown below the parent */
        left: 100px;
    }

    .dropdown a {
        color: #1F3A20;
        font-weight: normal;
        margin-left: 70px;
    }

    /* Show Dropdown on Hover */
    li:hover .dropdown {
        display: block; /* Show the dropdown */
        margin-top: -50px;
        margin-left: -70px;
    }

    .bjælke1 {
        background-color: #557D56;
        height: 50px;
    }

    h1 {
        font-size: 20px;
        margin-top: 80px;
        margin-left: 110px;
        font-weight: normal;
    }

    input {
        width: 300px;
        height: 50px;
        background-color: white;
        border: none;
        border-radius: 5px;
        font-size: 20px;
    }

    .indtast {
        margin-left: 110px;
        margin-top: 100px;
        font-weight: bold;
        font-size: 20px;
    }


    .indtast2 {
        margin-left: 516px;
        margin-top: -300px;
        font-weight: bold;
    }

    .knap {
        margin-left: 250px;
        margin-top: 100px;
        margin-bottom: 150px;
    }

    footer {
        background-color: #557D56;
        padding: 40px 0;
        position: relative;
        width: 100%;
    }

    .køgelogo{
        width: 160px;
        background-color: #557D56;
        margin-left: -25px;
    }

    .line{
        background-color: #1F3A20;
        height: 2px;
        width: 200px;
        border-radius: 10px;
        margin-left: 30px;
    }

    h3{
        background-color: #557D56;
        color: #1F3A20;
        font-size: 23px;
        margin-left: 30px;
        margin-top: 5px;
    }

    h4{
        background-color: #557D56;
        font-size: 15px;
        font-weight: normal;
        margin-left: 30px;
    }



    h6{
        background-color: #557D56;
        font-size: 15px;
        font-weight: normal;
        margin-left: 30px;
    }

    .følg{
        position: absolute;
        margin-left: 750px;
        margin-top: -225px;
        font-size: 25px;
        color: #1F3A20;
    }

    .socialemedier{
        background-color: #557D56;
        margin-bottom: -6px;
        padding-top: 20px;
    }

    .personligeoplysninger{
        background-color: #557D56;
        position: absolute;
        margin-left: 750px;
        text-decoration: underline;
        margin-top: -20px;
        color: #1F3A20;
        font-size: 10px;
    }

    .betingelser{
        background-color: #557D56;
        position: absolute;
        margin-left: 650px;
        text-decoration: underline;
        margin-top: -20px;
        color: #1F3A20;
        font-size: 10px;

    }

    .politik{
        background-color: #557D56;
        position: absolute;
        margin-left: 565px;
        text-decoration: underline;
        margin-top: -20px;
        color: #1F3A20;
        font-size: 10px;
    }

    .cookies{
        background-color: #557D56;
        position: absolute;
        margin-left: 440px;
        text-decoration: underline;
        margin-top: -20px;
        color: #1F3A20;
        font-size: 10px;
    }

}

/* Breakpoint for desktops (1024px og større) */
@media (min-width: 1025px) {
    nav{
        padding: 10px 20px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .logo {
        width: 100px;
        padding: 10px;
        margin-left: -170px;
        margin-top: -25px;
    }

    li {
        position: relative; /* Needed for positioning the dropdown */
        margin-right: 20px;
        margin-top: 20px;
    }

    a {
        text-decoration: none;
        color: #1F3A20;
        font-size: 18px;
        display: block;
        font-weight: bolder;
        margin-left: 170px;
        margin-top: 30px;
    }

    /* Dropdown Menu Styles */
    .dropdown {
        display: none; /* Hidden by default */
        position: absolute;
        padding-bottom: 15px;
        list-style: none;
        top: 100%; /* Position dropdown below the parent */
        left: 100px;
    }

    .dropdown a {
        color: #1F3A20;
        font-weight: normal;
        margin-left: 70px;
    }

    /* Show Dropdown on Hover */
    li:hover .dropdown {
        display: block; /* Show the dropdown */
    }

    .bjælke1 {
        background-color: #557D56;
        height: 50px;
    }

    h1 {
        font-size: 20px;
        margin-top: 80px;
        margin-left: 310px;
        font-weight: normal;
    }

    input {
        width: 300px;
        height: 50px;
        background-color: white;
        border: none;
        border-radius: 5px;
        font-size: 20px;
    }

    .indtast {
        margin-left: 310px;
        margin-top: 100px;
        font-weight: bold;
        font-size: 20px;
    }


    .indtast2 {
        margin-left: 616px;
        margin-top: -300px;
        font-weight: bold;
    }

    .knap {
        margin-left: 300px;
        margin-top: 100px;
        margin-bottom: 150px;
    }

    footer {
        background-color: #557D56;
        padding: 20px 0;
        position: relative;
        width: 100%;
    }

    .køgelogo{
        width: 160px;
        background-color: #557D56;
        margin-left: 100px;
    }

    .line{
        background-color: #1F3A20;
        height: 2px;
        width: 200px;
        border-radius: 10px;
        margin-left: 155px;
    }

    h3{
        background-color: #557D56;
        color: #1F3A20;
        font-size: 23px;
        margin-left: 155px;
        margin-top: 5px;
    }

    h4{
        background-color: #557D56;
        font-size: 15px;
        font-weight: normal;
        margin-left: 155px;
    }


    h6{
        background-color: #557D56;
        font-size: 15px;
        font-weight: normal;
        margin-left: 155px;
    }

    .følg{
        position: absolute;
        margin-left: 1100px;
        margin-top: -225px;
        font-size: 23px;
        color: #1F3A20;
    }

    .socialemedier{
        background-color: #557D56;
        margin-bottom: -6px;
        padding-top: 20px;
    }

    .personligeoplysninger{
        background-color: #557D56;
        position: absolute;
        margin-left: 1100px;
        text-decoration: underline;
        margin-top: -20px;
        color: #1F3A20;
        font-size: 12px;
    }

    .betingelser{
        background-color: #557D56;
        position: absolute;
        margin-left: 950px;
        text-decoration: underline;
        margin-top: -20px;
        color: #1F3A20;
        font-size: 12px;
    }

    .politik{
        background-color: #557D56;
        position: absolute;
        margin-left: 825px;
        text-decoration: underline;
        margin-top: -20px;
        color: #1F3A20;
        font-size: 12px;
    }

    .cookies{
        background-color: #557D56;
        position: absolute;
        margin-left: 650px;
        text-decoration: underline;
        margin-top: -20px;
        color: #1F3A20;
        font-size: 12px;
    }
}
