*{
    background-color: #E0D4C6;
    margin: 0px;
    font-family: "Helvetica Neue";
}

/* Breakpoint for tablets (768px og mindre) */
@media (max-width: 768px){
    nav{
        padding: 10px 20px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .logo {
        width: 100px;
        padding: 10px;
        margin-left: -170px;
        margin-top: -25px;
    }

    li {
        position: relative; /* Needed for positioning the dropdown */
        margin-right: 20px;
        margin-top: 20px;
        display: none;
    }

    a {
        text-decoration: none;
        color: #1F3A20;
        font-size: 18px;
        display: block;
        font-weight: bolder;
        margin-left: 170px;
        margin-top: 30px;
    }

    /* Dropdown Menu Styles */
    .dropdown {
        display: none; /* Hidden by default */
        position: absolute;
        padding-bottom: 15px;
        list-style: none;
        top: 100%; /* Position dropdown below the parent */
        left: 100px;
    }

    .dropdown a {
        color: #1F3A20;
        font-weight: normal;
        margin-left: 70px;
    }

    /* Show Dropdown on Hover */
    li:hover .dropdown {
        display: none; /* Show the dropdown */
    }

    .bjælke1 {
        background-color: #557D56;
        height: 50px;
    }

    .rema{
        width: 350px;
        margin-top: 30px;
        margin-left: 20px;
    }

    h1{
        font-size: 10px;
        color: #1F3A20;
        font-family: Helvetica;
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 50px;
        margin-bottom: 30px;
        font-weight: lighter;
    }

    .overskrift{
        font-size: 11px;
        margin-left: 40px;
        margin-top: 80px;
        margin-bottom: 20px;
        font-weight: bold;

    }

    .information{
        margin-left: 40px;
        margin-right: 200px;
        font-family: Helvetica;
        font-weight: normal;
        font-size: 10px;
    }

    .klistermærke{
        width: 145px;
        margin-left: 88px;
        margin-top: -65px;
    }

    .klistermærke2{
        width: 120px;
        margin-left: 13px;
        margin-top: 100px;

    }

    .overskrift2{
        font-size: 17px;
        margin-left: 200px;
        margin-top: -230px;
        margin-bottom: 40px;
        font-weight: bold;
        margin-right: 70px;
    }


    .information2{
        margin-left: 200px;
        margin-right: 30px;
        font-weight: normal;
        font-size: 10px;
        margin-top: -15px;
    }

    .klistermærke3{
        width: 120px;
        margin-left: 98px;
        margin-top: 80px;

    }

    .overskrift3{
        font-size: 17px;
        margin-left: 40px;
        margin-right: 50px;
        margin-top: -190px;
        margin-bottom: 30px;
        font-weight: bold;
    }


    .information3{
        margin-left: 40px;
        margin-right: 150px;
        margin-top: 20px;
        font-weight: normal;
        font-size: 10px;
    }

    .klistermærke4{
        width: 120px;
        margin-left: 13px;
        margin-top: 70px;
        margin-bottom: 350px;
    }

    .overskrift4{
        font-size: 17px;
        margin-left: 200px;
        margin-top: -820px;
        margin-bottom: 150px;
        margin-right: 40px;
        font-weight: bold;
    }


    .information4{
        margin-left: 200px;
        margin-right: 40px;
        margin-top: -120px;
        font-weight: normal;
        font-size: 10px;
        margin-bottom: 150px;

    }

    footer {
        background-color: #557D56;
        margin-top: 100px;
        position: relative;
        width: 100%;
    }

    .køgelogo{
        width: 110px;
        background-color: #557D56;
        margin-left: -20px;
    }

    .line{
        background-color: #1F3A20;
        height: 2px;
        width: 105px;
        border-radius: 10px;
        margin-left: 20px;
    }

    h3{
        background-color: #557D56;
        color: #1F3A20;
        font-size: 12px;
        margin-left: 20px;
        margin-top: 5px;
    }

    h4{
        background-color: #557D56;
        font-size: 10px;
        font-weight: normal;
        margin-left: 20px;
    }



    h6{
        background-color: #557D56;
        font-size: 10px;
        font-weight: normal;
        margin-left: 20px;
    }

    .følg{
        position: absolute;
        margin-left: 310px;
        margin-top: -168px;
        font-size: 14px;
        color: #1F3A20;
    }

    .socialemedier{
        width: 100px;
        background-color: #557D56;
        margin-bottom: -6px;
        padding-top: 20px;
    }

    .personligeoplysninger{
        background-color: #557D56;
        position: absolute;
        margin-left: 300px;
        text-decoration: underline;
        margin-top: -20px;
        color: #1F3A20;
        font-size: 6px;
        display: none;
    }

    .betingelser{
        background-color: #557D56;
        position: absolute;
        margin-left: 200px;
        text-decoration: underline;
        margin-top: -20px;
        color: #1F3A20;
        font-size: 7px;
        display: none;
    }

    .politik{
        background-color: #557D56;
        position: absolute;
        margin-left: 825px;
        text-decoration: underline;
        margin-top: -20px;
        color: #1F3A20;
        font-size: 12px;
        display: none;
    }

    .cookies{
        background-color: #557D56;
        position: absolute;
        margin-left: 650px;
        text-decoration: underline;
        margin-top: -20px;
        color: #1F3A20;
        font-size: 12px;
        display: none;
    }
}

@media (min-width: 769px){
    nav {
        padding: 10px 20px;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .logo{
        width: 130px;
        padding: 10px;
        margin-left: -110px;
        margin-top: -50px;
    }
    li {
        position: relative; /* Needed for positioning the dropdown */
        margin-right: 20px;
        margin-top: 20px;
    }
    a {
        text-decoration: none;
        color: #1F3A20;
        font-size: 15px;
        display: block;
        font-weight: bolder;
        margin-left: 100px;
        margin-top: 50px;
    }

    /* Dropdown Menu Styles */
    .dropdown {
        display: none; /* Hidden by default */
        position: absolute;
        padding-bottom: 15px;
        list-style: none;
        top: 100%; /* Position dropdown below the parent */
        left: 100px;
    }

    .dropdown a {
        color: #1F3A20;
        font-weight: normal;
        margin-left: 70px;
    }

    /* Show Dropdown on Hover */
    li:hover .dropdown {
        display: block; /* Show the dropdown */
        margin-top: -50px;
        margin-left: -70px;
    }

    .bjælke1 {
        background-color: #557D56;
        height: 50px;
    }

    .rema{
        width: 650px;
        margin-left: 90px;
        margin-top: 60px;
    }

    h1{
        font-size: 20px;
        color: #1F3A20;
        margin-top: 100px;
        margin-left: 120px;
        margin-right: 180px;
        margin-bottom: 150px;
        font-weight: normal;
    }

    .overskrift{
        font-size: larger;
        margin-left: 120px;
        margin-top: 80px;
        margin-bottom: 20px;
        font-weight: bold;

    }

    .information{
        margin-left: 120px;
        margin-right: 400px;
        font-family: Helvetica;
        font-weight: normal;
        font-size: 20px;
    }

    .klistermærke{
        width: 190px;
        margin-left: 230px;
        margin-top: -80px;
    }

    .klistermærke2{
        width: 160px;
        margin-left: 40px;
        margin-top: 110px;

    }

    .overskrift2{
        font-size: x-large;
        margin-left: 400px;
        margin-top: -270px;
        margin-bottom: 40px;
        font-weight: bold;
    }


    .information2{
        margin-left: 400px;
        margin-right: 160px;
        font-family: Helvetica;
        font-weight: normal;
        font-size: 20px;
    }

    .klistermærke3{
        width: 180px;
        margin-left: 240px;
        margin-top: 90px;

    }

    .overskrift3{
        font-size: x-large;
        margin-left: 120px;
        margin-right: 400px;
        margin-top: -230px;
        margin-bottom: 30px;
        font-weight: bold;
    }


    .information3{
        margin-left: 120px;
        margin-right: 420px;
        margin-top: 20px;
        font-family: Helvetica;
        font-weight: normal;
        font-size: 20px;
    }

    .klistermærke4{
        width: 180px;
        margin-left: 40px;
        margin-top: 105px;
        margin-bottom: 350px;
    }

    .overskrift4{
        font-size: x-large;
        margin-left: 500px;
        margin-top: -870px;
        margin-bottom: 150px;
        font-weight: bold;
    }


    .information4{
        margin-left: 500px;
        margin-right: 80px;
        margin-top: -120px;
        font-weight: normal;
        font-size: 20px;
        margin-bottom: 150px;

    }


    footer {
        background-color: #557D56;
        padding: 40px 0;
        position: relative;
        width: 100%;
    }

    .køgelogo{
        width: 160px;
        background-color: #557D56;
        margin-left: -25px;
    }

    .line{
        background-color: #1F3A20;
        height: 2px;
        width: 200px;
        border-radius: 10px;
        margin-left: 30px;
    }

    h3{
        background-color: #557D56;
        color: #1F3A20;
        font-size: 23px;
        margin-left: 30px;
        margin-top: 5px;
    }

    h4{
        background-color: #557D56;
        font-size: 15px;
        font-weight: normal;
        margin-left: 30px;
    }



    h6{
        background-color: #557D56;
        font-size: 15px;
        font-weight: normal;
        margin-left: 30px;
    }

    .følg{
        position: absolute;
        margin-left: 750px;
        margin-top: -225px;
        font-size: 25px;
        color: #1F3A20;
    }

    .socialemedier{
        background-color: #557D56;
        margin-bottom: -6px;
        padding-top: 20px;
    }

    .personligeoplysninger{
        background-color: #557D56;
        position: absolute;
        margin-left: 750px;
        text-decoration: underline;
        margin-top: -20px;
        color: #1F3A20;
        font-size: 10px;
    }

    .betingelser{
        background-color: #557D56;
        position: absolute;
        margin-left: 650px;
        text-decoration: underline;
        margin-top: -20px;
        color: #1F3A20;
        font-size: 10px;

    }

    .politik{
        background-color: #557D56;
        position: absolute;
        margin-left: 565px;
        text-decoration: underline;
        margin-top: -20px;
        color: #1F3A20;
        font-size: 10px;
    }

    .cookies{
        background-color: #557D56;
        position: absolute;
        margin-left: 440px;
        text-decoration: underline;
        margin-top: -20px;
        color: #1F3A20;
        font-size: 10px;
    }
}


/* Breakpoint for desktops (1024px og større) */
@media (min-width: 1025px) {
    nav {
        padding: 10px 20px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .logo {
        width: 100px;
        padding: 10px;
        margin-left: -170px;
        margin-top: -25px;
    }

    li {
        position: relative; /* Needed for positioning the dropdown */
        margin-right: 20px;
        margin-top: 20px;
    }

    a {
        text-decoration: none;
        color: #1F3A20;
        font-size: 18px;
        display: block;
        font-weight: bolder;
        margin-left: 170px;
        margin-top: 30px;
    }

    /* Dropdown Menu Styles */
    .dropdown {
        display: none; /* Hidden by default */
        position: absolute;
        padding-bottom: 15px;
        list-style: none;
        top: 100%; /* Position dropdown below the parent */
        left: 100px;
    }

    .dropdown a {
        color: #1F3A20;
        font-weight: normal;
        margin-left: 70px;
    }

    /* Show Dropdown on Hover */
    li:hover .dropdown {
        display: block; /* Show the dropdown */
    }

    .bjælke1 {
        background-color: #557D56;
        height: 50px;
    }

    .rema {
        width: 900px;
        margin-left: 160px;
        margin-top: 60px;
    }


    h1 {
        font-size: 25px;
        color: #1F3A20;
        margin-top: 100px;
        margin-left: 160px;
        margin-right: 200px;
        font-weight: normal;
    }

    h2 {
        font-size: xx-large;
        margin-left: 0px;
        margin-top: 90px;
        margin-bottom: 60px;
    }

    .overskrift {
        font-size: larger;
        margin-left: 160px;
        margin-top: 150px;
        font-weight: bold;
    }

    .information {
        margin-left: 160px;
        margin-right: 800px;
        font-family: Helvetica;
        font-weight: lighter;
        font-size: 25px;
    }

    .klistermærke {
        width: 380px;
        margin-left: 320px;
        margin-top: -150px;

    }

    .klistermærke2 {
        width: 320px;
        margin-left: 30px;
        margin-top: 130px;

    }

    .overskrift2 {
        font-size: xx-large;
        margin-left: 800px;
        margin-top: -390px;
        margin-bottom: 60px;
        font-size: xx-large;
        font-weight: bold;
    }


    .information2 {
        margin-left: 800px;
        margin-right: 80px;
        margin-top: 0px;
        font-family: Helvetica;
        font-weight: lighter;
        font-size: 25px;
    }


    .klistermærke3 {
        width: 350px;
        margin-left: 335px;
        margin-top: 130px;

    }

    .overskrift3 {
        font-size: xx-large;
        margin-left: 160px;
        margin-top: -350px;
        margin-bottom: 60px;
        font-size: xx-large;
        font-weight: bold;
    }


    .information3 {
        margin-left: 160px;
        margin-right: 800px;
        margin-top: 20px;
        font-weight: lighter;
        font-size: 25px;
    }


    .klistermærke4 {
        width: 330px;
        margin-left: 35px;
        margin-top: 130px;
        margin-bottom: 280px;
    }

    .overskrift4 {
        font-size: xx-large;
        margin-left: 800px;
        margin-top: -840px;
        margin-bottom: 60px;
        font-size: xx-large;
        font-weight: bold;
    }


    .information4 {
        margin-left: 800px;
        margin-right: 80px;
        margin-top: -40px;
        font-weight: lighter;
        font-size: 25px;
        margin-bottom: 170px;
    }


    footer {
        background-color: #557D56;
        padding: 20px 0;
        position: relative;
        width: 100%;
    }

    .køgelogo {
        width: 160px;
        background-color: #557D56;
        margin-left: 100px;
    }

    .line {
        background-color: #1F3A20;
        height: 2px;
        width: 200px;
        border-radius: 10px;
        margin-left: 155px;
    }

    h3 {
        background-color: #557D56;
        color: #1F3A20;
        font-size: 23px;
        margin-left: 155px;
        margin-top: 5px;
    }

    h4 {
        background-color: #557D56;
        font-size: 15px;
        font-weight: normal;
        margin-left: 155px;
    }


    h6 {
        background-color: #557D56;
        font-size: 15px;
        font-weight: normal;
        margin-left: 155px;
    }

    .følg {
        position: absolute;
        margin-left: 1100px;
        margin-top: -225px;
        font-size: 23px;
        color: #1F3A20;
    }

    .socialemedier {
        background-color: #557D56;
        margin-bottom: -6px;
        padding-top: 20px;
    }

    .personligeoplysninger {
        background-color: #557D56;
        position: absolute;
        margin-left: 1100px;
        text-decoration: underline;
        margin-top: -20px;
        color: #1F3A20;
        font-size: 12px;
    }

    .betingelser {
        background-color: #557D56;
        position: absolute;
        margin-left: 950px;
        text-decoration: underline;
        margin-top: -20px;
        color: #1F3A20;
        font-size: 12px;
    }

    .politik {
        background-color: #557D56;
        position: absolute;
        margin-left: 825px;
        text-decoration: underline;
        margin-top: -20px;
        color: #1F3A20;
        font-size: 12px;
    }

    .cookies {
        background-color: #557D56;
        position: absolute;
        margin-left: 650px;
        text-decoration: underline;
        margin-top: -20px;
        color: #1F3A20;
        font-size: 12px;


    }
}